@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;    
    background-color: #44abbe;
    color: #333;
    margin: 0;
    padding: 0;
}

/*Estilo para el Header*/
header {
    background-color: #183c43;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    text-align: center;
    color: white;
}
.logo img {
    height: 95px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-out;
}
nav a:hover {
    color: #F0A717;
}

/*Estilo para el Form de Reservas*/
.icon { 
    position: absolute;
    top: -20px;
    left: 22%;

}
.form-container {
    position: relative;
    background-color: #ecf7f9;
    margin: 40px auto;
    padding: 100px;
    border-radius: 50px;
    max-width: 600px;
    box-shadow: 0 10px 40px rgba(31, 77, 85, 0.2);
}
.form-container h2 {
    text-align: center;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #183c43;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input::placeholder, 
textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
}
.two-columns {
    display: flex;
    gap: 40px;
}
.two-columns div {
    flex: 1;
}
fieldset {
    display: block;
    border: none;
    margin-top: 10px;
    padding-left: 0%;;
}

legend {
    margin-top: 10px;
    font-weight: bold;
    color: #183c43;
}
fieldset > label {
    font-weight: normal;
    margin-left: 10px;
}
select {
    font-family: 'Montserrat', sans-serif;
}

#formadefault {
    color: rgba(30, 30, 30, 0.5) ;
}
button {
    display: block;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #183c43;
    color: #ecf7f9;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-out
}
button:hover {
    background-color: #296772;
}
button:active {
    background-color: #c5e5eb;
    color: #44abbe;
}

/*Estilo para el Footer*/
footer {
    background-color: #183c43;
    color: white;
    padding: 20px 200px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    justify-content: space-between;  
    flex: 1; 
    gap: 20px;
    align-items: stretch;
}

.footer-links ul,
.footer-policies ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.footer-links ul li,
.footer-policies ul li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-policies a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover,
.footer-policies a:hover {
    color: #F0A717; 
}

.footer-social a {
    margin: 0 8px;
}

.footer-social img {
    width: 24px; 
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.footer-social img:hover {
    transform: scale(1.1);
}

.footer-credits a img {
    width: 120px;  
    height: auto;
  }

  select {
    width: 200px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  