@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;    
    background-color: #44abbe;
    color: white;
    margin: 0;
    padding: 0;
}

/* Estilo de Header */
header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 10;
  }
  
  /* Logo */
  .logo img {
    height: 95px;
  }
  
  /* Menú por defecto: oculto */
  nav ul {
    list-style: none;
    padding: 0;
    display: none; /* Ocultar por defecto */
    justify-content: center;
    gap: 20px;
  }
  
  /* Mostrar el menú cuando se activa la clase 'active' */
  nav ul.active {
    display: flex;
  }
  
  /* Enlaces del menú */
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  nav a:hover {
    color: #F0A717;
  }
  
  /* Botón hamburguesa: oculto por defecto */
  .menu-toggle {
    display: none;
    margin-left: auto;
  }
  
  /* Ajustes para pantallas medianas */
  @media (max-width: 1024px) {
    header {
      padding: 20px 100px;
    }
  }
  
  /* Ajustes para pantallas pequeñas */
  @media (max-width: 768px) {
    header {
      padding: 15px 30px;
    }
  
    .logo img {
      height: 75px;
    }
  
    .menu-toggle {
      display: block; /* Mostrar hamburguesa */
      background: none;
      border: none;
      font-size: 1.8rem;
      color: white;
      cursor: pointer;
      z-index: 15;
      margin-left: auto;
    }
  
    nav ul {
      position: absolute;
      top: 100%;
      right: 10px;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      width: 200px;
      padding: 20px;
      background-color: rgba(24, 60, 67, 1);
      border-radius: 0 0 10px 10px;
    }
  }
  
  /* Ajustes para pantallas grandes (menú horizontal y hamburguesa oculta) */
  @media (min-width: 769px) {
    nav ul {
      display: flex; /* Mostrar menú horizontal */
      flex-direction: row;
      position: static;
      background: transparent;
      align-items: center;
    }
  
    .menu-toggle {
      display: none; /* Ocultar hamburguesa */
    }
  }

/* Estilo de Hero */
.hero {
    background: url('assets/hero-img-verano.JPG') center/cover no-repeat fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin-top: -200px; 
    padding-top: 30px; 
}

.hero::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
    z-index: 2;
}

/*.toggle {
    position: relative;
    z-index: 2;
}
  
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.toggle label {
    display: block;
    position: relative;
    width: 60px;
    height: 34px;
    background-color: #4CAF50; 
    border-radius: 50px;
}
  
.toggle label::before {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
}*/

.cta-button {
  display: inline-block;
  padding:15px30px;
  font-size: 16px;
  font-weight: bold;
  background-color: #0097B2; /* Color primario */
  color: white;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease; 
  z-index: 1;
}

.cta-button:hover {
  background-color: #F0A717; /* Color secundario */
}

/* Asegurar que en móviles el efecto funcione */
@media (max-width: 768px) {
  .hero {
      background-attachment: scroll;
  }
}

.servicios {
    background-color: #44abbe;
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

.servicios h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.servicios p {
    margin-bottom: 50px;
    font-size: 19px;
}

 /* Definimos la animación de desplazamiento */
 @keyframes slideIn {
  from {
    transform: translateY(-50px); /* Inicia desde 50px por encima */
    opacity: 0; /* Comienza con opacidad 0 */
  }
  to {
    transform: translateY(0); /* Finaliza en su posición original */
    opacity: 1; /* Finaliza con opacidad 1 */
  }
}

/* Aplicamos la animación a la sección */
.servicios {
  animation: slideIn 0.8s ease-out; /* Duración de 0.8 segundos y efecto suave */
}
  
/* Estilos para la galería */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Columnas adaptables */
    gap: 20px;
  }
  
  /* Contenedor de la imagen */
.imagen-container {
    position: relative;
    overflow: hidden;
    border-radius: 20px; /* Radio más pequeño para pantallas chicas */
    height: 400px; /* Ajuste para que no sea tan alto en pantallas pequeñas */
    transition: filter 300ms ease-in-out;
  }
  
  .imagen-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 300ms ease-in-out;
  }
  
.imagen-container:hover img {
    filter: brightness(50%);
}
  
.texto-hover {
    position: absolute;
    bottom: 10%; /* Centrado vertical */
    left: 10%; /* Centrado horizontal */
    transform: translate(0, 0); /* Ajuste fino para el centro */
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 900ms ease-in-out; 
    z-index: 2;
    width: 80%;
}

.texto-hover h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.texto-hover p {
  font-size: 16px;
  margin: 5px 0 0;
  opacity: 0;
  transition: opacity 900ms ease-in-out;
}

.imagen-container:hover .texto-hover {
    opacity: 1; /* Hace visible el texto */
}

.imagen-container:hover .texto-hover p {
  opacity: 1;
}

@keyframes slideInGallery {
  from {
    transform: translateY(-50px); /* Inicia desde 50px por encima */
    opacity: 0; /* Comienza con opacidad 0 */
  }
  to {
    transform: translateY(0); /* Finaliza en su posición original */
    opacity: 1; /* Finaliza con opacidad 1 */
  }
}

/* Aplicamos la animación a la galería */
.servicios .galeria {
  animation: slideInGallery 1s ease-out; /* Duración de 1 segundo y efecto suave */
  animation-delay: 0.3s; /* Retraso para que empiece después de la animación de la sección */
}

/* Media query para pantallas medianas (tablets) */
@media (max-width: 1024px) {
    .imagen-container {
      height: 300px; /* Altura menor en tablets */
    }
  
    .texto-hover {
      font-size: 20px;
    }
  }

   /* Media query para pantallas pequeñas (móviles) */
  @media (max-width: 768px) {
    .galeria {
      grid-template-columns: 1fr; /* Una sola columna en móviles */
    }
  
    .imagen-container {
      height: 250px; /* Altura menor en móviles */
    }
  
    .texto-hover {
      font-size: 18px;
    }
  }
  
.destinos {
    padding: 40px 20px;
    margin-top: -40px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

/* Estilo de Footer*/
footer {
    background-color: #183c43;
    color: white;
    padding: 20px 40px;
    box-sizing: border-box;
    width: 100%;
} 

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    justify-content: space-between;  
    flex: 1; 
    gap: 20px;
}

.footer-links ul,
.footer-policies ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li,
.footer-policies ul li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-policies a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover,
.footer-policies a:hover {
    color: #F0A717; 
}

.footer-social-credits {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.footer-social img {
    width: 24px; 
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.footer-social img:hover {
    transform: scale(1.1);
}


.footer-credits a img {
    width: 120px;  
    height: auto;
}

/* Media query para tablets */
@media (max-width: 1024px) {
    footer {
        padding: 20px 30px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .footer-social-credits {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }


    .footer-social {
        justify-content: center;
    }

    .footer-credits {
        margin-top: 10px;
    }
}

/* Media query para móviles */
@media (max-width: 768px) {
    footer {
        padding: 20px 15px;
    }

    .footer-links ul li,
    .footer-policies ul li {
        margin-bottom: 8px;
    }

    .footer-links a,
    .footer-policies a {
        font-size: 14px;
    }

    .footer-social img {
        width: 20px;
        height: 20px;
    }

    .footer-credits a img {
        width: 100px;
    }
}